html{
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom,#171D5B, #323986, #905ED1);*/
  background-color: #1e174e;
  background-size: cover;
  color: rgb(227, 241, 237);
  font-family: 'Handlee', cursive;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

img{
  height: 40px;
}

.wrapper{
  width: 100%;
  margin: 40px auto;
  text-align: center;
  .background{
    padding-bottom: 5.8%;
    margin-top: 45%;
    background-color: #4044C9;
    width: 40%;
    margin: 0 auto;
    border-radius: 8px;
  }
  .taskToAdd{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .topContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper-categories{
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    .title{
      text-align: left;
      margin: 5% 0 2% 0;
    }
    .taskOptions{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p{
        margin: 0;
      }
    }
  }
}

.categories{
  label + label{
    padding-left: 35px;
  }
}

label{
  div{
    padding: 3% 6% 3% 6%;
    border: none;
    &:active{
      box-shadow: 5px 5px 10px #ffff;
    }
  }
}

.food{
  padding: 3% 10% 3% 10%;
  background: linear-gradient(302.01deg, #FCB045 -33.18%, #FD1D1D 109.96%);
  border-radius: 8%;
}

.clothing{
  background: linear-gradient(306.89deg, #FF7A00 -10.95%, #C9B340 90.89%);
  border-radius: 8%;
}

.shopping{
  background: linear-gradient(115.86deg, #FC00FF -4.57%, #00DBDE 135.78%);
  border-radius: 8%;
}

.homework{
  background: linear-gradient(290.91deg, #00BF8F 49.77%, #003FE2 106.43%);
  border-radius: 8%;
}
.addTask{
  input{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 2% 0 2% 0;
    &::-webkit-input-placeholder {
      font-size: 18px;
      padding-left: 2%;
    }
  }
  .button{
    display: flex;
    justify-content: flex-end;
    button{
      margin-top: 5%;
      border: none;
      border-radius: 8px;
      background-color: #FE6C62;
      color: white;
      padding: 2% 4% 2% 4%;
      font-size: 18px;
      &:hover{
        background-color: #BB4949;
      }
    }
  }
}
.taskAdded{
  position: absolute;
  top: 54%;
  left: 30%;
  width: 40%;
  margin: 0 auto;
  border-radius: 100px 0px 8px 8px;
  background-color: white;
  padding: 0;
  h2{
    text-align: left;
    color: #7B7B7B;
  }
  .TaskList{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    .copy-right{
      color: #7B7B7B;
    }
  }
}


.container {
  width: 40%;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #4044C9;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  ul{
    list-style: none;
  }
  #taskul{
    width: 100%;
    padding: 0;
  }
  input[type=checkbox]{
    width: 35px;
    height: 35px;
    border-radius: 14px;
  }
  input[type=text] {
    display: none;
    background: none;
    border: 3px solid #bbafaf;
    padding: 10px 0 10px 0;
    border-radius: 8px;
  }
  li.editMode input[type=text] {
    display:block;
  }
  
  li.editMode label {
    display:none;
  }

}

.nameTask{
  display: flex;
  flex-direction: column;
  width: 60%;
  label{
    align-self: flex-start;
    font-size: 24px;
  }
  p{
    text-align: left;
    margin: 0;
    color: #DCDCDC;
  }
}

.edit, .delete{
  border: none;
  background: none;
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
  }
  &:hover{
    border-bottom: 1px solid white;
  }
}

/*
  .delete{
  background-image: url(../../img/todolist/delete-icon.png);
  width: 51px;
  background-repeat: no-repeat;
  height: 60px;
  background-size: 42px 41px;
}
*/

input[type=checkbox]:checked + .nameTask{
  label{
    text-decoration: line-through;
    color: gray;
  }
}

.deleteAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4{
    color: #7B7B7B;
    cursor: pointer;
    &:hover{
      color: rgb(218, 105, 105);
    }
  }
}

.modal-container{
  display: flex;
  flex-direction: column;
  background-color: rgba($color: #000000, $alpha: 0.8);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 1;
  width: 100%;
  .modal {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.button-remove{
  padding: 5px 15px;
  background-color: #FE6C62;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  &:hover{
    background-color: #BB4949;
  }
}
